@font-face { 
	font-family: 'Eurostile' !important; 
 	src: url('../Webfonts/eurostile-webfont.eot');
 	src: url('../Webfonts/eurostile-webfont.eot?#iefix') format('embedded-opentype'),
 	url('../Webfonts/eurostile-webfont.woff') format('woff'),
 	url('../Webfonts/eurostile-webfont.ttf') format('truetype'),
 	url('../Webfonts/eurostile-webfont.svg#Eurostile') format('svg');
 	font-weight: normal;
 	font-style: normal;
}

#header {
	width: 100%;
	height: 35px;
	padding: 15px;
	margin: 0px;
	background: #010101;
	font-family: Eurostile, 'Helvetica Neue', Helvetica, Arial, sans-serif;
} 

#header_button {
	height: 50px;
	margin-right: 30px;
	padding: 0px;
	color: #FDFDFD;
	font-family: Eurostile, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	text-indent: 0px;
	display: inline-block;	
}

 body {
 	margin: 0px;
 	padding: 0px;
	background: #D4D2D2;
	font-family: Eurostile, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #484948;
	display: inline-block;
} 

.trends {

	height: 100%;
	float: left;
	width: 300px;
	margin-top: 50px;
	margin-left: 100px;
	margin-bottom: 50px;
	display: inline-block;
	vertical-align: top;	
}

.Fig1 {

	height: 100%;
	float: left;
	width: 200px;
	margin-top: 50px;
	margin-left: 100px;
	display: inline-block;
	vertical-align: top;
}

.Fig2 {

	height: 100%;
	float: left;
	width: 200px;
	margin-top: 50px;
	margin-left: 100px;	
	display: inline-block;
	vertical-align: top;
}

.post-title {
	float: right;
	width: 490px;
	font-size: 28px;
	margin-top: 30px;
	/* margin-left: -30px; */
	margin-right: 50px;
	font-family: Eurostile, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: uppercase; 
	text-align: left;
	color: #13366D;
	display: inline-block;
}

p.paragraph {
	float: right;
	width: 490px;
	margin-left: 0px;
	margin-right: 50px;
	text-align: left;	
}

p.paragraph2 {
	float: right;
	width: 490px;
	margin-left: 0px;
	margin-right: 50px;
	text-align: left;	
}

p.paragraph3 {
	float: right;
	width: 490px;
	margin-left: 0px;
	margin-right: 50px;
	text-align: left;	
}

p.paragraph3b {
	float: right;
	width: 490px;
	margin-left: 0px;
	margin-right: 50px;
	text-align: left;	
}

p.paragraph4 {
	float: right;
	width: 490px;
	margin-left: 0px;
	margin-right: 50px;
	text-align: left;	
}

p.paragraph5 {
	float: right;
	width: 490px;
	margin-left: 0px;
	margin-right: 50px;
	text-align: left;

	/* float: left;
	width: 300px;
	margin-top: -50px;
	margin-left: 50px;
	text-align: left; */	
}

p.paragraph6 {
	float: right;
	width: 490px;
	margin-left: 0px;
	margin-right: 50px;
	text-align: left;
}

p.paragraph7 {
	float: right;
	width: 490px;
	margin-left: 0px;
	margin-right: 50px;
	text-align: left;
}

p.paragraph8 {
	float: right;
	width: 490px;
	margin-left: 0px;
	margin-right: 50px;
	text-align: left;
}

p.paragraph9 {
	float: right;
	width: 490px;
	margin-left: 0px;
	margin-right: 50px;
	text-align: left;
}

p.paragraph10 {
	float: right;
	font-size: 14px;
	width: 490px;
	margin-left: 0px;
	margin-right: 50px;
	text-align: left;
}

a.over {
	text-decoration: none;
	color: white;
}

a.over:hover {
	text-decoration: none;
	color: white;
	text-decoration: underline;
}

a {
	text-decoration: none;
	color: 13366D;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}